body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('lottery.jpeg') no-repeat center center fixed;
    background-size: cover;
}
.container {
    background-color: #ffffff;
    border: 2px solid #007bff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #007bff;
}
label {
    display: block;
    margin: 10px 0 5px;
    color: #333333;
    text-align: left;
}
input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.reset-section {
    margin-top: 20px;
    display: none;
}